# Python 数组

In [29]:
v = [0.5, 0.75, 1.0, 1.5, 2.0] 
m = [v, v, v]  # matrix of numbers
m

[[0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0],
 [0.5, 0.75, 1.0, 1.5, 2.0]]

In [30]:
m[1]

[0.5, 0.75, 1.0, 1.5, 2.0]

In [31]:
m[1][0]

0.5

In [32]:
v1 = [0.5, 1.5]
v2 = [1, 2]
m = [v1, v2]
c = [m, m]  # cube of numbers
c

[[[0.5, 1.5], [1, 2]], [[0.5, 1.5], [1, 2]]]

# numpy 矩阵

In [33]:
import numpy as np

a = np.array([0, 0.5, 1.0, 1.5, 2.0])
type(a)

numpy.ndarray

In [34]:
a[:2]

array([0. , 0.5])

In [36]:
a.sum() # 求和

5.0

In [37]:
a.std() # 标准方差

0.7071067811865476

In [38]:
a.cumsum() # 累加序列

array([0. , 0.5, 1.5, 3. , 5. ])

In [39]:
a * 2 # 矩阵×

array([0., 1., 2., 3., 4.])

In [40]:
a ** 2 # 幂

array([0.  , 0.25, 1.  , 2.25, 4.  ])

In [41]:
np.sqrt(a) # 开方

array([0.        , 0.70710678, 1.        , 1.22474487, 1.41421356])

# pandas

In [42]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

df = pd.DataFrame([10,20,30,40],columns=['number'],index = ['a','b','c','d'])
df

   number
a      10
b      20
c      30
d      40

In [43]:
df['floats'] = (1.5,2.5,3.5,4.5)
df

   number  floats
a      10     1.5
b      20     2.5
c      30     3.5
d      40     4.5

In [45]:
df.append(pd.DataFrame({'number':100,'floats':5.7},index=['z']))
df

   number  floats
a      10     1.5
b      20     2.5
c      30     3.5
d      40     4.5

In [47]:
df['squares'] = (1,4,9,16)
df

   number  floats  squares
a      10     1.5        1
b      20     2.5        4
c      30     3.5        9
d      40     4.5       16

In [48]:
df[['number','squares']].mean() #平均值

number     25.0
squares     7.5
dtype: float64

In [49]:
df[['number','squares']].std()

number     12.909944
squares     6.557439
dtype: float64

In [51]:
a = np.random.standard_normal((9,4))
df = pd.DataFrame(a)
print df

          0         1         2         3
0 -0.194188  0.883064  0.683764 -0.063667
1  0.432750  1.094730 -0.186328  0.483401
2 -1.381737 -0.913968 -0.825888 -0.020911
3 -1.118831  1.124640 -0.496765 -1.131277
4 -2.488585 -0.201622  1.124555 -0.376635
5  0.623613 -0.073785 -1.787705 -1.176174
6 -1.570910  0.141610  0.190379 -1.545712
7  0.425798 -0.644178  1.759438 -0.669830
8  0.466847 -1.290446 -0.509803 -1.926798

In [53]:
dates = pd.date_range('2015-1-1', periods =9, freq = 'D')
#print dates
df.index = dates
print df

                 No1       No2       No3       No4
2015-01-01 -0.194188  0.883064  0.683764 -0.063667
2015-01-02  0.432750  1.094730 -0.186328  0.483401
2015-01-03 -1.381737 -0.913968 -0.825888 -0.020911
2015-01-04 -1.118831  1.124640 -0.496765 -1.131277
2015-01-05 -2.488585 -0.201622  1.124555 -0.376635
2015-01-06  0.623613 -0.073785 -1.787705 -1.176174
2015-01-07 -1.570910  0.141610  0.190379 -1.545712
2015-01-08  0.425798 -0.644178  1.759438 -0.669830
2015-01-09  0.466847 -1.290446 -0.509803 -1.926798