# 使用cryptory

In [1]:
from cryptory import Cryptory # pip install pytrends cryptory

In [2]:
# initialise object 
# pull data from start of 2017 to present day
my_cryptory = Cryptory(from_date = "2017-01-01")

In [10]:
# get historical bitcoin prices from coinmarketcap
my_cryptory.extract_coinmarketcap("eos") # .extract_coinmarketcap("bitcoin")

          date       open   high        low  close      volume   marketcap
0   2018-07-17   8.070000   8.91   7.870000   8.78   847794000  7233440000
1   2018-07-16   7.400000   8.11   7.270000   8.11   716972000  6630410000
2   2018-07-15   6.980000   7.52   6.920000   7.40   501440000  6258310000
3   2018-07-14   6.960000   7.09   6.850000   6.99   396983000  6238630000
4   2018-07-13   6.910000   7.22   6.790000   6.96   586718000  6196130000
5   2018-07-12   7.170000   7.18   6.650000   6.90   597380000  6427140000
6   2018-07-11   7.210000   7.41   6.850000   7.19   599607000  6461270000
7   2018-07-10   7.750000   7.85   7.180000   7.21   707110000  6941620000
8   2018-07-09   8.710000   8.74   7.700000   7.75   707878000  7804520000
9   2018-07-08   9.040000   9.14   8.700000   8.71   491667000  8099590000
10  2018-07-07   8.670000   9.02   8.470000   9.02   490261000  7771830000
11  2018-07-06   8.900000   8.92   8.300000   8.68   604650000  7979010000
12  2018-07-05   8.880000   9.15   8.730000   8.93   958549000  7961000000
13  2018-07-04   8.850000   9.39   8.560000   8.89   935387000  7934510000
14  2018-07-03   8.910000   9.35   8.770000   8.84  1006100000  7983560000
15  2018-07-02   8.140000   8.99   7.940000   8.89  1024130000  7295590000
16  2018-07-01   8.150000   8.22   7.810000   8.13   621643000  7300490000
17  2018-06-30   7.740000   8.25   7.740000   8.13   832538000  6936720000
18  2018-06-29   7.470000   7.85   7.180000   7.73   802746000  6694680000
19  2018-06-28   8.010000   8.05   7.390000   7.45   724915000  7179860000
20  2018-06-27   7.480000   8.18   7.410000   8.01   716036000  6706320000
21  2018-06-26   8.260000   8.30   7.490000   7.51   629339000  7405460000
22  2018-06-25   8.070000   8.51   7.770000   8.24   905012000  7233310000
23  2018-06-24   8.460000   8.46   7.100000   8.09  1397600000  7583000000
24  2018-06-23   8.670000   8.79   8.190000   8.41   709977000  7769800000
25  2018-06-22  10.420000  10.44   8.480000   8.66  1258310000  9334830000
26  2018-06-21  10.430000  10.80  10.280000  10.42   662139000  9345890000
27  2018-06-20  10.730000  10.77  10.180000  10.42   852287000  9616000000
28  2018-06-19  10.720000  10.84  10.500000  10.73   715926000  9605830000
29  2018-06-18  10.440000  10.83  10.230000  10.72   720630000  9358610000
..         ...        ...    ...        ...    ...         ...         ...
352 2017-07-30   1.830000   1.84   1.710000   1.78    27580200   455967000
353 2017-07-29   1.830000   1.84   1.660000   1.83    44021100   452704000
354 2017-07-28   1.960000   2.01   1.850000   1.85    64730400   481392000
355 2017-07-27   1.750000   1.98   1.730000   1.95    69371700   425312000
356 2017-07-26   1.640000   1.74   1.470000   1.74    48693200   396121000
357 2017-07-25   1.880000   1.89   1.550000   1.65    42547000   448823000
358 2017-07-24   1.880000   1.95   1.820000   1.87    36585400   445118000
359 2017-07-23   1.960000   2.14   1.740000   1.87    60205000   459832000
360 2017-07-22   1.820000   2.00   1.810000   1.96    41809000   421938000
361 2017-07-21   1.760000   2.02   1.730000   1.82    58164900   404351000
362 2017-07-20   1.570000   1.76   1.570000   1.74    45949800   357758000
363 2017-07-19   1.700000   1.79   1.540000   1.56    55057600   384563000
364 2017-07-18   1.540000   1.75   1.480000   1.70    58108000   345694000
365 2017-07-17   1.250000   1.57   1.250000   1.54    62295100   278755000
366 2017-07-16   1.290000   1.35   1.190000   1.25    30802800   284276000
367 2017-07-15   1.550000   1.55   1.300000   1.30    34208800   339219000
368 2017-07-14   1.730000   1.77   1.540000   1.55    41025200   371675000
369 2017-07-13   2.080000   2.13   1.710000   1.74    51203900   443420000
370 2017-07-12   1.640000   2.09   1.540000   2.07   104621000   346085000
371 2017-07-11   1.790000   1.82   1.420000   1.66   111023000   372111000
372 2017-07-10   2.250000   2.39   1.720000   1.83    79608800   464611000
373 2017-07-09   2.600000   2.69   2.190000   2.29    87525100   491957000
374 2017-07-08   2.820000   2.90   2.090000   2.59   151162000   485188000
375 2017-07-07   3.350000   3.35   2.710000   2.80    96596500   566644000
376 2017-07-06   3.010000   3.87   3.010000   3.36   177463000   502465000
377 2017-07-05   3.360000   3.52   2.730000   3.00   124339000   547544000
378 2017-07-04   4.100000   4.19   2.930000   3.37   218559000   656753000
379 2017-07-03   2.720000   5.40   2.630000   4.09   414950000           0
380 2017-07-02   0.996521   2.88   0.822648   2.71   320452000           0
381 2017-07-01   1.030000   1.07   0.989566   1.01    13613000           0

[382 rows x 7 columns]

# cryptory内部的实现
## 用panda下载网页
parameters on the URL: coin=eos, start=startdate, end=end-date

In [15]:
import pandas as pd

output = pd.read_html("https://coinmarketcap.com/currencies/eos/historical-data/?start=20170101&end=20180101")[0]
output

,Date,Open*,High,Low,Close**,Volume,Market Cap
0,"Jan 01, 2018",8.770000,9.11,8.510000,8.84,331073000,5041600000
1,"Dec 31, 2017",8.510000,8.97,8.440000,8.77,312308000,4876510000
2,"Dec 30, 2017",9.460000,9.50,8.350000,8.56,499400000,5402020000
3,"Dec 29, 2017",9.600000,9.87,9.220000,9.44,448090000,5459440000
4,"Dec 28, 2017",10.540000,10.57,8.410000,9.57,478886000,5978450000
5,"Dec 27, 2017",9.830000,10.81,9.790000,10.56,530216000,5551810000
6,"Dec 26, 2017",9.770000,10.10,9.630000,9.82,336595000,5497600000
7,"Dec 25, 2017",8.200000,9.81,7.920000,9.77,337893000,4597290000
8,"Dec 24, 2017",8.510000,8.56,7.260000,8.14,192175000,4753620000
9,"Dec 23, 2017",7.970000,9.48,7.950000,8.48,233174000,4437100000
10,"Dec 22, 2017",10.660000,10.67,6.690000,7.84,612398000,5898340000
11,"Dec 21, 2017",11.960000,13.18,10.080000,10.60,349756000,6591520000
12,"Dec 20, 2017",12.450000,12.60,10.370000,11.99,775977000,6840160000
13,"Dec 19, 2017",9.240000,12.90,9.230000,12.38,1688240000,5057770000
14,"Dec 18, 2017",8.220000,9.39,7.670000,9.21,577650000,4478700000
15,"Dec 17, 2017",8.600000,8.98,8.210000,8.22,361464000,4673800000
16,"Dec 16, 2017",8.140000,9.26,8.130000,8.61,540462000,4405780000
17,"Dec 15, 2017",8.410000,8.41,6.880000,8.13,640458000,4531340000
18,"Dec 14, 2017",7.240000,8.74,7.170000,8.40,613600000,3887060000
19,"Dec 13, 2017",5.320000,7.30,5.050000,7.30,663821000,2846320000
20,"Dec 12, 2017",4.380000,5.73,4.260000,5.30,266450000,2331870000
21,"Dec 11, 2017",3.770000,4.48,3.730000,4.36,153155000,2000150000
22,"Dec 10, 2017",4.070000,4.07,3.550000,3.77,98890000,2152680000
23,"Dec 09, 2017",4.280000,4.68,3.800000,4.06,133142000,2254300000
24,"Dec 08, 2017",3.990000,4.59,3.740000,4.29,149508000,2093350000
25,"Dec 07, 2017",4.520000,4.52,3.560000,3.99,183666000,2358120000
26,"Dec 06, 2017",4.270000,5.10,4.200000,4.55,200253000,2219990000
27,"Dec 05, 2017",4.060000,4.47,3.690000,4.24,181418000,2107440000
28,"Dec 04, 2017",3.610000,4.13,3.500000,4.03,163900000,1865930000
29,"Dec 03, 2017",3.940000,4.12,3.440000,3.61,132280000,2026220000
...,...,...,...,...,...,...,...
155,"Jul 30, 2017",1.830000,1.84,1.710000,1.78,27580200,455967000
156,"Jul 29, 2017",1.830000,1.84,1.660000,1.83,44021100,452704000
157,"Jul 28, 2017",1.960000,2.01,1.850000,1.85,64730400,481392000
158,"Jul 27, 2017",1.750000,1.98,1.730000,1.95,69371700,425312000
159,"Jul 26, 2017",1.640000,1.74,1.470000,1.74,48693200,396121000
160,"Jul 25, 2017",1.880000,1.89,1.550000,1.65,42547000,448823000
161,"Jul 24, 2017",1.880000,1.95,1.820000,1.87,36585400,445118000
162,"Jul 23, 2017",1.960000,2.14,1.740000,1.87,60205000,459832000
163,"Jul 22, 2017",1.820000,2.00,1.810000,1.96,41809000,421938000
164,"Jul 21, 2017",1.760000,2.02,1.730000,1.82,58164900,404351000
165,"Jul 20, 2017",1.570000,1.76,1.570000,1.74,45949800,357758000
166,"Jul 19, 2017",1.700000,1.79,1.540000,1.56,55057600,384563000
167,"Jul 18, 2017",1.540000,1.75,1.480000,1.70,58108000,345694000
168,"Jul 17, 2017",1.250000,1.57,1.250000,1.54,62295100,278755000
169,"Jul 16, 2017",1.290000,1.35,1.190000,1.25,30802800,284276000
170,"Jul 15, 2017",1.550000,1.55,1.300000,1.30,34208800,339219000
171,"Jul 14, 2017",1.730000,1.77,1.540000,1.55,41025200,371675000
172,"Jul 13, 2017",2.080000,2.13,1.710000,1.74,51203900,443420000
173,"Jul 12, 2017",1.640000,2.09,1.540000,2.07,104621000,346085000
174,"Jul 11, 2017",1.790000,1.82,1.420000,1.66,111023000,372111000
175,"Jul 10, 2017",2.250000,2.39,1.720000,1.83,79608800,464611000
176,"Jul 09, 2017",2.600000,2.69,2.190000,2.29,87525100,491957000
177,"Jul 08, 2017",2.820000,2.90,2.090000,2.59,151162000,485188000
178,"Jul 07, 2017",3.350000,3.35,2.710000,2.80,96596500,566644000
179,"Jul 06, 2017",3.010000,3.87,3.010000,3.36,177463000,502465000
180,"Jul 05, 2017",3.360000,3.52,2.730000,3.00,124339000,547544000
181,"Jul 04, 2017",4.100000,4.19,2.930000,3.37,218559000,656753000
182,"Jul 03, 2017",2.720000,5.40,2.630000,4.09,414950000,-
183,"Jul 02, 2017",0.996521,2.88,0.822648,2.71,320452000,-
184,"Jul 01, 2017",1.030000,1.07,0.989566,1.01,13613000,-

## 转换格式

In [17]:
output = output.assign(Date=pd.to_datetime(output['Date']))
output

          Date      Open*   High        Low  Close**      Volume  Market Cap
0   2018-01-01   8.770000   9.11   8.510000     8.84   331073000  5041600000
1   2017-12-31   8.510000   8.97   8.440000     8.77   312308000  4876510000
2   2017-12-30   9.460000   9.50   8.350000     8.56   499400000  5402020000
3   2017-12-29   9.600000   9.87   9.220000     9.44   448090000  5459440000
4   2017-12-28  10.540000  10.57   8.410000     9.57   478886000  5978450000
5   2017-12-27   9.830000  10.81   9.790000    10.56   530216000  5551810000
6   2017-12-26   9.770000  10.10   9.630000     9.82   336595000  5497600000
7   2017-12-25   8.200000   9.81   7.920000     9.77   337893000  4597290000
8   2017-12-24   8.510000   8.56   7.260000     8.14   192175000  4753620000
9   2017-12-23   7.970000   9.48   7.950000     8.48   233174000  4437100000
10  2017-12-22  10.660000  10.67   6.690000     7.84   612398000  5898340000
11  2017-12-21  11.960000  13.18  10.080000    10.60   349756000  6591520000
12  2017-12-20  12.450000  12.60  10.370000    11.99   775977000  6840160000
13  2017-12-19   9.240000  12.90   9.230000    12.38  1688240000  5057770000
14  2017-12-18   8.220000   9.39   7.670000     9.21   577650000  4478700000
15  2017-12-17   8.600000   8.98   8.210000     8.22   361464000  4673800000
16  2017-12-16   8.140000   9.26   8.130000     8.61   540462000  4405780000
17  2017-12-15   8.410000   8.41   6.880000     8.13   640458000  4531340000
18  2017-12-14   7.240000   8.74   7.170000     8.40   613600000  3887060000
19  2017-12-13   5.320000   7.30   5.050000     7.30   663821000  2846320000
20  2017-12-12   4.380000   5.73   4.260000     5.30   266450000  2331870000
21  2017-12-11   3.770000   4.48   3.730000     4.36   153155000  2000150000
22  2017-12-10   4.070000   4.07   3.550000     3.77    98890000  2152680000
23  2017-12-09   4.280000   4.68   3.800000     4.06   133142000  2254300000
24  2017-12-08   3.990000   4.59   3.740000     4.29   149508000  2093350000
25  2017-12-07   4.520000   4.52   3.560000     3.99   183666000  2358120000
26  2017-12-06   4.270000   5.10   4.200000     4.55   200253000  2219990000
27  2017-12-05   4.060000   4.47   3.690000     4.24   181418000  2107440000
28  2017-12-04   3.610000   4.13   3.500000     4.03   163900000  1865930000
29  2017-12-03   3.940000   4.12   3.440000     3.61   132280000  2026220000
..         ...        ...    ...        ...      ...         ...         ...
155 2017-07-30   1.830000   1.84   1.710000     1.78    27580200   455967000
156 2017-07-29   1.830000   1.84   1.660000     1.83    44021100   452704000
157 2017-07-28   1.960000   2.01   1.850000     1.85    64730400   481392000
158 2017-07-27   1.750000   1.98   1.730000     1.95    69371700   425312000
159 2017-07-26   1.640000   1.74   1.470000     1.74    48693200   396121000
160 2017-07-25   1.880000   1.89   1.550000     1.65    42547000   448823000
161 2017-07-24   1.880000   1.95   1.820000     1.87    36585400   445118000
162 2017-07-23   1.960000   2.14   1.740000     1.87    60205000   459832000
163 2017-07-22   1.820000   2.00   1.810000     1.96    41809000   421938000
164 2017-07-21   1.760000   2.02   1.730000     1.82    58164900   404351000
165 2017-07-20   1.570000   1.76   1.570000     1.74    45949800   357758000
166 2017-07-19   1.700000   1.79   1.540000     1.56    55057600   384563000
167 2017-07-18   1.540000   1.75   1.480000     1.70    58108000   345694000
168 2017-07-17   1.250000   1.57   1.250000     1.54    62295100   278755000
169 2017-07-16   1.290000   1.35   1.190000     1.25    30802800   284276000
170 2017-07-15   1.550000   1.55   1.300000     1.30    34208800   339219000
171 2017-07-14   1.730000   1.77   1.540000     1.55    41025200   371675000
172 2017-07-13   2.080000   2.13   1.710000     1.74    51203900   443420000
173 2017-07-12   1.640000   2.09   1.540000     2.07   104621000   346085000
174 2017-07-11   1.790000   1.82   1.420000     1.66   111023000   372111000
175 2017-07-10   2.250000   2.39   1.720000     1.83    79608800   464611000
176 2017-07-09   2.600000   2.69   2.190000     2.29    87525100   491957000
177 2017-07-08   2.820000   2.90   2.090000     2.59   151162000   485188000
178 2017-07-07   3.350000   3.35   2.710000     2.80    96596500   566644000
179 2017-07-06   3.010000   3.87   3.010000     3.36   177463000   502465000
180 2017-07-05   3.360000   3.52   2.730000     3.00   124339000   547544000
181 2017-07-04   4.100000   4.19   2.930000     3.37   218559000   656753000
182 2017-07-03   2.720000   5.40   2.630000     4.09   414950000           0
183 2017-07-02   0.996521   2.88   0.822648     2.71   320452000           0
184 2017-07-01   1.030000   1.07   0.989566     1.01    13613000           0

[185 rows x 7 columns]

In [20]:
# convert some formats
import numpy as np
import re

for col in output.columns:
    if output[col].dtype == np.dtype('O') :
        output.loc[output[col]=="-",col]=0
        output[col] = output[col].astype('int64')

output.columns = [re.sub(r"[^a-z]", "", col.lower()) for col in output.columns] # change the column names tolower
output['coin'] = 'eos'
    
output

,date,open,high,low,close,volume,marketcap,coin
0,2018-01-01,8.770000,9.11,8.510000,8.84,331073000,5041600000,eos
1,2017-12-31,8.510000,8.97,8.440000,8.77,312308000,4876510000,eos
2,2017-12-30,9.460000,9.50,8.350000,8.56,499400000,5402020000,eos
3,2017-12-29,9.600000,9.87,9.220000,9.44,448090000,5459440000,eos
4,2017-12-28,10.540000,10.57,8.410000,9.57,478886000,5978450000,eos
5,2017-12-27,9.830000,10.81,9.790000,10.56,530216000,5551810000,eos
6,2017-12-26,9.770000,10.10,9.630000,9.82,336595000,5497600000,eos
7,2017-12-25,8.200000,9.81,7.920000,9.77,337893000,4597290000,eos
8,2017-12-24,8.510000,8.56,7.260000,8.14,192175000,4753620000,eos
9,2017-12-23,7.970000,9.48,7.950000,8.48,233174000,4437100000,eos
10,2017-12-22,10.660000,10.67,6.690000,7.84,612398000,5898340000,eos
11,2017-12-21,11.960000,13.18,10.080000,10.60,349756000,6591520000,eos
12,2017-12-20,12.450000,12.60,10.370000,11.99,775977000,6840160000,eos
13,2017-12-19,9.240000,12.90,9.230000,12.38,1688240000,5057770000,eos
14,2017-12-18,8.220000,9.39,7.670000,9.21,577650000,4478700000,eos
15,2017-12-17,8.600000,8.98,8.210000,8.22,361464000,4673800000,eos
16,2017-12-16,8.140000,9.26,8.130000,8.61,540462000,4405780000,eos
17,2017-12-15,8.410000,8.41,6.880000,8.13,640458000,4531340000,eos
18,2017-12-14,7.240000,8.74,7.170000,8.40,613600000,3887060000,eos
19,2017-12-13,5.320000,7.30,5.050000,7.30,663821000,2846320000,eos
20,2017-12-12,4.380000,5.73,4.260000,5.30,266450000,2331870000,eos
21,2017-12-11,3.770000,4.48,3.730000,4.36,153155000,2000150000,eos
22,2017-12-10,4.070000,4.07,3.550000,3.77,98890000,2152680000,eos
23,2017-12-09,4.280000,4.68,3.800000,4.06,133142000,2254300000,eos
24,2017-12-08,3.990000,4.59,3.740000,4.29,149508000,2093350000,eos
25,2017-12-07,4.520000,4.52,3.560000,3.99,183666000,2358120000,eos
26,2017-12-06,4.270000,5.10,4.200000,4.55,200253000,2219990000,eos
27,2017-12-05,4.060000,4.47,3.690000,4.24,181418000,2107440000,eos
28,2017-12-04,3.610000,4.13,3.500000,4.03,163900000,1865930000,eos
29,2017-12-03,3.940000,4.12,3.440000,3.61,132280000,2026220000,eos
...,...,...,...,...,...,...,...,...
155,2017-07-30,1.830000,1.84,1.710000,1.78,27580200,455967000,eos
156,2017-07-29,1.830000,1.84,1.660000,1.83,44021100,452704000,eos
157,2017-07-28,1.960000,2.01,1.850000,1.85,64730400,481392000,eos
158,2017-07-27,1.750000,1.98,1.730000,1.95,69371700,425312000,eos
159,2017-07-26,1.640000,1.74,1.470000,1.74,48693200,396121000,eos
160,2017-07-25,1.880000,1.89,1.550000,1.65,42547000,448823000,eos
161,2017-07-24,1.880000,1.95,1.820000,1.87,36585400,445118000,eos
162,2017-07-23,1.960000,2.14,1.740000,1.87,60205000,459832000,eos
163,2017-07-22,1.820000,2.00,1.810000,1.96,41809000,421938000,eos
164,2017-07-21,1.760000,2.02,1.730000,1.82,58164900,404351000,eos
165,2017-07-20,1.570000,1.76,1.570000,1.74,45949800,357758000,eos
166,2017-07-19,1.700000,1.79,1.540000,1.56,55057600,384563000,eos
167,2017-07-18,1.540000,1.75,1.480000,1.70,58108000,345694000,eos
168,2017-07-17,1.250000,1.57,1.250000,1.54,62295100,278755000,eos
169,2017-07-16,1.290000,1.35,1.190000,1.25,30802800,284276000,eos
170,2017-07-15,1.550000,1.55,1.300000,1.30,34208800,339219000,eos
171,2017-07-14,1.730000,1.77,1.540000,1.55,41025200,371675000,eos
172,2017-07-13,2.080000,2.13,1.710000,1.74,51203900,443420000,eos
173,2017-07-12,1.640000,2.09,1.540000,2.07,104621000,346085000,eos
174,2017-07-11,1.790000,1.82,1.420000,1.66,111023000,372111000,eos
175,2017-07-10,2.250000,2.39,1.720000,1.83,79608800,464611000,eos
176,2017-07-09,2.600000,2.69,2.190000,2.29,87525100,491957000,eos
177,2017-07-08,2.820000,2.90,2.090000,2.59,151162000,485188000,eos
178,2017-07-07,3.350000,3.35,2.710000,2.80,96596500,566644000,eos
179,2017-07-06,3.010000,3.87,3.010000,3.36,177463000,502465000,eos
180,2017-07-05,3.360000,3.52,2.730000,3.00,124339000,547544000,eos
181,2017-07-04,4.100000,4.19,2.930000,3.37,218559000,656753000,eos
182,2017-07-03,2.720000,5.40,2.630000,4.09,414950000,0,eos
183,2017-07-02,0.996521,2.88,0.822648,2.71,320452000,0,eos
184,2017-07-01,1.030000,1.07,0.989566,1.01,13613000,0,eos

In [8]:
# get daily subscriber numbers to the bitcoin reddit page
my_cryptory.extract_reddit_metrics(subreddit="bitcoin",
                                    metric="total-subscribers")

          date  total_subscribers
0   2018-03-04             759794
1   2018-03-03             758588
2   2018-03-02             757549
3   2018-03-01             756510
4   2018-02-28             755471
5   2018-02-27             754432
6   2018-02-26             753393
7   2018-02-25             752354
8   2018-02-24             751315
9   2018-02-23             750276
10  2018-02-22             749237
11  2018-02-21             748066
12  2018-02-20             746720
13  2018-02-19             745395
14  2018-02-18             744025
15  2018-02-17             742551
16  2018-02-16             741110
17  2018-02-15             739828
18  2018-02-14             738454
19  2018-02-13             737256
20  2018-02-12             736082
21  2018-02-11             734716
22  2018-02-10             733502
23  2018-02-09             732277
24  2018-02-08             730708
25  2018-02-07             728483
26  2018-02-06             726711
27  2018-02-05             724381
28  2018-02-04             721827
29  2018-02-03             719642
..         ...                ...
400 2017-01-30             204830
401 2017-01-29             204723
402 2017-01-28             204581
403 2017-01-27             204498
404 2017-01-26             204407
405 2017-01-25             204304
406 2017-01-24             204199
407 2017-01-23             204026
408 2017-01-22             203901
409 2017-01-21             203763
410 2017-01-20             203659
411 2017-01-19             203548
412 2017-01-18             203440
413 2017-01-17             203296
414 2017-01-16             203106
415 2017-01-15             202909
416 2017-01-14             202746
417 2017-01-13             202589
418 2017-01-12             202456
419 2017-01-11             202187
420 2017-01-10             201879
421 2017-01-09             201690
422 2017-01-08             201507
423 2017-01-07             201275
424 2017-01-06             200992
425 2017-01-05             200457
426 2017-01-04             199934
427 2017-01-03             199536
428 2017-01-02             199275
429 2017-01-01             198612

[430 rows x 2 columns]

In [11]:
# google trends- bitcoin search results, need proxy to escape from the greatwall
my_cryptory.get_google_trends(kw_list=["bitcoin"])

ConnectionError: HTTPSConnectionPool(host='trends.google.com', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f4fb5fe4150>: Failed to establish a new connection: [Errno 101] Network is unreachable',))

In [3]:
# dow jones price (market code from yahoo finance)
my_cryptory.get_stock_prices(market="%5EDJI")

,date,adjclose,close,high,low,open,volume
0,2018-07-18,25119.890625,25119.890625,25155.390625,24989.609375,25033.919922,250450000.0
1,2018-07-17,25119.890625,25119.890625,25155.390625,24989.609375,25033.919922,250450000.0
2,2018-07-16,25064.359375,25064.359375,25072.410156,24979.640625,25025.580078,231270000.0
3,2018-07-15,25019.410156,25019.410156,25043.210938,24890.060547,24926.070312,255520000.0
4,2018-07-14,25019.410156,25019.410156,25043.210938,24890.060547,24926.070312,255520000.0
5,2018-07-13,25019.410156,25019.410156,25043.210938,24890.060547,24926.070312,255520000.0
6,2018-07-12,24924.890625,24924.890625,24939.970703,24802.900391,24802.900391,233150000.0
7,2018-07-11,24700.449219,24700.449219,24815.160156,24663.820312,24789.480469,237370000.0
8,2018-07-10,24919.660156,24919.660156,24945.380859,24806.970703,24806.970703,235040000.0
9,2018-07-09,24776.589844,24776.589844,24796.519531,24518.429688,24519.199219,240580000.0
10,2018-07-08,24456.480469,24456.480469,24520.289062,24281.470703,24352.470703,219450000.0
11,2018-07-07,24456.480469,24456.480469,24520.289062,24281.470703,24352.470703,219450000.0
12,2018-07-06,24456.480469,24456.480469,24520.289062,24281.470703,24352.470703,219450000.0
13,2018-07-05,24356.740234,24356.740234,24372.800781,24177.439453,24285.820312,237670000.0
14,2018-07-04,24174.820312,24174.820312,24444.880859,24150.849609,24359.390625,160960000.0
15,2018-07-03,24174.820312,24174.820312,24444.880859,24150.849609,24359.390625,160960000.0
16,2018-07-02,24307.179688,24307.179688,24319.419922,24077.560547,24161.529297,244110000.0
17,2018-07-01,24271.410156,24271.410156,24509.519531,24269.710938,24323.929688,329070000.0
18,2018-06-30,24271.410156,24271.410156,24509.519531,24269.710938,24323.929688,329070000.0
19,2018-06-29,24271.410156,24271.410156,24509.519531,24269.710938,24323.929688,329070000.0
20,2018-06-28,24216.050781,24216.050781,24308.160156,23997.210938,24064.189453,305020000.0
21,2018-06-27,24117.589844,24117.589844,24569.019531,24115.820312,24303.109375,313790000.0
22,2018-06-26,24283.109375,24283.109375,24384.210938,24241.220703,24281.890625,301130000.0
23,2018-06-25,24252.800781,24252.800781,24463.730469,24084.390625,24463.730469,439130000.0
24,2018-06-24,24580.890625,24580.890625,24663.179688,24526.970703,24526.970703,473970000.0
25,2018-06-23,24580.890625,24580.890625,24663.179688,24526.970703,24526.970703,473970000.0
26,2018-06-22,24580.890625,24580.890625,24663.179688,24526.970703,24526.970703,473970000.0
27,2018-06-21,24461.699219,24461.699219,24639.210938,24406.630859,24639.210938,349570000.0
28,2018-06-20,24657.800781,24657.800781,24804.759766,24628.390625,24771.169922,359520000.0
29,2018-06-19,24700.210938,24700.210938,24763.589844,24567.750000,24763.589844,376380000.0
...,...,...,...,...,...,...,...
534,2017-01-30,19971.130859,19971.130859,20028.619141,19870.390625,20028.619141,317280000.0
535,2017-01-29,20093.779297,20093.779297,20115.970703,20072.640625,20103.359375,343130000.0
536,2017-01-28,20093.779297,20093.779297,20115.970703,20072.640625,20103.359375,343130000.0
537,2017-01-27,20093.779297,20093.779297,20115.970703,20072.640625,20103.359375,343130000.0
538,2017-01-26,20100.910156,20100.910156,20125.580078,20067.529297,20076.250000,356730000.0
539,2017-01-25,20068.509766,20068.509766,20082.000000,19994.480469,19994.480469,372240000.0
540,2017-01-24,19912.710938,19912.710938,19949.240234,19786.710938,19794.679688,374460000.0
541,2017-01-23,19799.849609,19799.849609,19833.980469,19732.359375,19794.789062,326690000.0
542,2017-01-22,19827.250000,19827.250000,19843.939453,19759.140625,19795.060547,435260000.0
543,2017-01-21,19827.250000,19827.250000,19843.939453,19759.140625,19795.060547,435260000.0
544,2017-01-20,19827.250000,19827.250000,19843.939453,19759.140625,19795.060547,435260000.0
545,2017-01-19,19732.400391,19732.400391,19824.140625,19677.939453,19813.550781,301750000.0
546,2017-01-18,19804.720703,19804.720703,19828.199219,19739.000000,19822.730469,279760000.0
547,2017-01-17,19826.769531,19826.769531,19882.990234,19775.349609,19848.820312,341900000.0
548,2017-01-16,19885.730469,19885.730469,19952.029297,19849.380859,19912.539062,263780000.0
549,2017-01-15,19885.730469,19885.730469,19952.029297,19849.380859,19912.539062,263780000.0
550,2017-01-14,19885.730469,19885.730469,19952.029297,19849.380859,19912.539062,263780000.0
551,2017-01-13,19885.730469,19885.730469,19952.029297,19849.380859,19912.539062,263780000.0
552,2017-01-12,19891.000000,19891.000000,19929.289062,19770.470703,19926.210938,306290000.0
553,2017-01-11,19954.279297,19954.279297,19973.419922,19833.160156,19887.380859,336150000.0
554,2017-01-10,19855.529297,19855.529297,19957.119141,19836.029297,19876.349609,299410000.0
555,2017-01-09,19887.380859,19887.380859,19943.779297,19887.380859,19931.410156,287060000.0
556,2017-01-08,19963.800781,19963.800781,19999.630859,19834.080078,19906.960938,277700000.0
557,2017-01-07,19963.800781,19963.800781,19999.630859,19834.080078,19906.960938,277700000.0
558,2017-01-06,19963.800781,19963.800781,19999.630859,19834.080078,19906.960938,277700000.0
559,2017-01-05,19899.289062,19899.289062,19948.599609,19811.119141,19924.560547,269920000.0
560,2017-01-04,19942.160156,19942.160156,19956.140625,19878.830078,19890.939453,280010000.0
561,2017-01-03,19881.759766,19881.759766,19938.529297,19775.929688,19872.859375,339180000.0
562,2017-01-02,NaN,NaN,NaN,NaN,NaN,NaN
563,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# USD/EUR exchange rate
my_cryptory.get_exchange_rates(from_currency="USD", to_currency="EUR")

          date  exch_rate
0   2018-07-18     1.1707
1   2018-07-17     1.1707
2   2018-07-16     1.1720
3   2018-07-15     1.1643
4   2018-07-14     1.1643
5   2018-07-13     1.1643
6   2018-07-12     1.1658
7   2018-07-11     1.1735
8   2018-07-10     1.1713
9   2018-07-09     1.1789
10  2018-07-08     1.1724
11  2018-07-07     1.1724
12  2018-07-06     1.1724
13  2018-07-05     1.1709
14  2018-07-04     1.1665
15  2018-07-03     1.1665
16  2018-07-02     1.1639
17  2018-07-01     1.1658
18  2018-06-30     1.1658
19  2018-06-29     1.1658
20  2018-06-28     1.1583
21  2018-06-27     1.1616
22  2018-06-26     1.1672
23  2018-06-25     1.1700
24  2018-06-24     1.1648
25  2018-06-23     1.1648
26  2018-06-22     1.1648
27  2018-06-21     1.1538
28  2018-06-20     1.1578
29  2018-06-19     1.1534
..         ...        ...
534 2017-01-30     1.0630
535 2017-01-29     1.0681
536 2017-01-28     1.0681
537 2017-01-27     1.0681
538 2017-01-26     1.0700
539 2017-01-25     1.0743
540 2017-01-24     1.0748
541 2017-01-23     1.0715
542 2017-01-22     1.0668
543 2017-01-21     1.0668
544 2017-01-20     1.0668
545 2017-01-19     1.0668
546 2017-01-18     1.0664
547 2017-01-17     1.0684
548 2017-01-16     1.0661
549 2017-01-15     1.0661
550 2017-01-14     1.0661
551 2017-01-13     1.0661
552 2017-01-12     1.0679
553 2017-01-11     1.0503
554 2017-01-10     1.0567
555 2017-01-09     1.0516
556 2017-01-08     1.0589
557 2017-01-07     1.0589
558 2017-01-06     1.0589
559 2017-01-05     1.0501
560 2017-01-04     1.0437
561 2017-01-03     1.0385
562 2017-01-02        NaN
563 2017-01-01        NaN

[564 rows x 2 columns]

In [5]:
# get historical commodity prices
my_cryptory.get_metal_prices()

,date,gold_am,gold_pm,silver,platinum_am,platinum_pm,palladium_am,palladium_pm
0,2018-07-18,1243.65,1232.80,15.770,827.0,825.0,920.0,915.0
1,2018-07-17,1243.65,1232.80,15.770,827.0,825.0,920.0,915.0
2,2018-07-16,1244.90,1241.10,15.810,831.0,826.0,941.0,933.0
3,2018-07-15,1240.50,1241.70,15.810,832.0,831.0,942.0,944.0
4,2018-07-14,1240.50,1241.70,15.810,832.0,831.0,942.0,944.0
5,2018-07-13,1240.50,1241.70,15.810,832.0,831.0,942.0,944.0
6,2018-07-12,1244.85,1245.90,15.840,832.0,832.0,942.0,938.0
7,2018-07-11,1250.00,1251.40,15.915,841.0,838.0,939.0,940.0
8,2018-07-10,1253.70,1254.00,15.930,842.0,843.0,948.0,950.0
9,2018-07-09,1262.60,1262.05,16.205,857.0,849.0,962.0,965.0
10,2018-07-08,1254.20,1255.35,15.995,839.0,838.0,945.0,947.0
11,2018-07-07,1254.20,1255.35,15.995,839.0,838.0,945.0,947.0
12,2018-07-06,1254.20,1255.35,15.995,839.0,838.0,945.0,947.0
13,2018-07-05,1252.50,1255.50,15.950,841.0,845.5,948.0,947.0
14,2018-07-04,1256.90,1255.65,16.045,838.0,834.0,946.0,948.0
15,2018-07-03,1245.85,1251.75,15.930,822.0,838.0,942.0,954.0
16,2018-07-02,1249.00,1247.80,15.980,842.0,839.0,950.0,941.0
17,2018-07-01,1250.55,1250.45,16.030,846.0,851.0,948.0,953.0
18,2018-06-30,1250.55,1250.45,16.030,846.0,851.0,948.0,953.0
19,2018-06-29,1250.55,1250.45,16.030,846.0,851.0,948.0,953.0
20,2018-06-28,1250.50,1251.55,16.110,852.0,852.0,951.0,945.0
21,2018-06-27,1256.80,1254.60,16.210,861.0,860.0,949.0,946.0
22,2018-06-26,1257.15,1260.30,16.225,862.0,864.0,939.0,939.0
23,2018-06-25,1269.80,1268.70,16.375,877.0,868.0,957.0,949.0
24,2018-06-24,1269.70,1269.15,16.425,865.0,867.0,958.0,956.0
25,2018-06-23,1269.70,1269.15,16.425,865.0,867.0,958.0,956.0
26,2018-06-22,1269.70,1269.15,16.425,865.0,867.0,958.0,956.0
27,2018-06-21,1263.70,1266.15,16.245,864.0,866.0,962.0,962.0
28,2018-06-20,1273.25,1274.20,16.285,862.0,867.0,973.0,972.0
29,2018-06-19,1279.00,1276.15,16.355,880.0,871.0,983.0,982.0
...,...,...,...,...,...,...,...,...
534,2017-01-30,1189.85,1192.80,17.100,978.0,979.0,728.0,730.0
535,2017-01-29,1184.20,1184.85,16.700,970.0,965.0,713.0,722.0
536,2017-01-28,1184.20,1184.85,16.700,970.0,965.0,713.0,722.0
537,2017-01-27,1184.20,1184.85,16.700,970.0,965.0,713.0,722.0
538,2017-01-26,1191.55,1189.70,16.860,981.0,972.0,737.0,717.0
539,2017-01-25,1203.50,1195.00,16.930,990.0,993.0,783.0,762.0
540,2017-01-24,1213.30,1216.80,17.105,986.0,986.0,777.0,785.0
541,2017-01-23,1213.75,1212.85,17.140,979.0,981.0,786.0,787.0
542,2017-01-22,1199.10,1200.55,16.890,955.0,963.0,752.0,761.0
543,2017-01-21,1199.10,1200.55,16.890,955.0,963.0,752.0,761.0
544,2017-01-20,1199.10,1200.55,16.890,955.0,963.0,752.0,761.0
545,2017-01-19,1203.35,1196.05,16.950,964.0,956.0,749.0,751.0
546,2017-01-18,1212.50,1214.75,17.120,974.0,968.0,745.0,743.0
547,2017-01-17,1217.50,1216.05,17.000,994.0,988.0,751.0,759.0
548,2017-01-16,1202.75,1203.00,16.820,983.0,984.0,740.0,745.0
549,2017-01-15,1196.35,1190.35,16.760,975.0,971.0,754.0,746.0
550,2017-01-14,1196.35,1190.35,16.760,975.0,971.0,754.0,746.0
551,2017-01-13,1196.35,1190.35,16.760,975.0,971.0,754.0,746.0
552,2017-01-12,1206.65,1205.05,16.910,990.0,981.0,755.0,758.0
553,2017-01-11,1187.55,1178.55,16.790,980.0,977.0,761.0,748.0
554,2017-01-10,1183.20,1189.50,16.665,971.0,973.0,755.0,759.0
555,2017-01-09,1176.10,1178.50,16.520,971.0,976.0,756.0,760.0
556,2017-01-08,1178.00,1175.85,16.450,968.0,959.0,744.0,745.0
557,2017-01-07,1178.00,1175.85,16.450,968.0,959.0,744.0,745.0
558,2017-01-06,1178.00,1175.85,16.450,968.0,959.0,744.0,745.0
559,2017-01-05,1173.05,1176.70,16.590,952.0,967.0,730.0,730.0
560,2017-01-04,1165.90,1164.25,16.420,942.0,948.0,724.0,738.0
561,2017-01-03,1148.65,1151.00,15.950,906.0,929.0,684.0,706.0
562,2017-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
563,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN